<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <form [formGroup]="temperatureForm" (ngSubmit)="onSubmit(); needFocus.focus()">
      <label class="form-label" for="temperature">Add Temperature:</label>
      <input
        class="form-control"
        name="temperature"
        id="temperature"
        type="text"
        formControlName="temperature"
        #needFocus>
      <br>
      <button
        class="btn btn-primary"
        type='submit'
        [disabled]="!temperatureForm.valid || temps.length === upperLimit">Add</button>
      <button
        class="btn btn-danger pull-right"
        type='button'
        [disabled]="!temps.length"
        (click)="onReset()">Clear</button>
    </form>
  </div>
</div>
<hr />
<section>
  <div class="progress">
    <div class="progress-bar"
         id="progress-bar"
         role="progressbar"
         aria-valuemin="0"
         [attr.aria-valuemax]="upperLimit"
         [attr.aria-valuenow]="temps.length"
         [ngStyle]="{'width.%':(temps.length/upperLimit)*100}">
      <span *ngIf="temps.length === upperLimit">Temperature Array is Full</span>
    </div>
  </div>
  <button class="btn btn-success" (click)="onGetMedian()">Get Median Temperature</button>
  <span *ngIf="temps.length">Current Median: {{ medianValue }}</span>
</section>
<hr>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let temp of temps">
          {{ temp }}
        </li>
      </ul>
    </div>
  </div>
<hr>
<p>Developer Name: Jeffrey K Regan</p>

