<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <form [formGroup]="temperatureForm" (ngSubmit)="onSubmit()">
      <label class="form-label" for="temperature">Add Temperature:</label>
      <input
        class="form-control"
        name="temperature"
        id="temperature"
        type="text"
        formControlName="temperature">
      <br>
      <button
        class="btn btn-primary"
        type='submit'
        [disabled]="!temperatureForm.valid || temps.length === upperLimit">Add</button>
    </form>
  </div>
</div>
<hr />
<section>
  <div class="progress">
    <div class="progress-bar"
         id="progress-bar"
         role="progressbar"
         aria-valuemin="0"
         [attr.aria-valuemax]="upperLimit"
         [attr.aria-valuenow]="temps.length"
         [ngStyle]="{'width.%':(temps.length/upperLimit)*100}">
      <span *ngIf="temps.length === upperLimit">Temperature Array is Full</span>
    </div>
  </div>
  <!--<button class="btn btn-success" (click)="onGetMedian()">Get Median Temperature</button>-->
  Current Median: <span *ngIf="temps.length">{{ medianValue }}</span>
  <!-- display current media here-->
</section>
<hr>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let temp of temps, let i = index">
          {{ temp }} <span
                      class="glyphicon glyphicon-remove-circle pull-right"
                      style="color:red" (click)="onDelete(i)"></span>
        </li>
      </ul>
    </div>
  </div>
<hr>
<p>developer name: Jeffrey K Regan</p>

